@model SIMS.Models.Student

<h2>Student Details</h2>
<p>Id: @Model.StudentId</p>
<p>Name: @Model.FullName</p>
<p>Age: @Model.DateOfBirth</p>

<a asp-controller="Student" asp-action="Index">Back to list</a>
